<p-table [value]="maquinas" dataKey="ref">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Derigistered</th>
            <th>Heads</th>
            <th>Status</th>
            <th>Power KV</th>
            <th>Email alerts</th>
            <th>Sensors</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-maquina let-editing="editing">
        <tr>
            <td [pEditableColumn]="maquina.name" pEditableColumnField="code">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="maquina.name" />
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ maquina.name }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td [pEditableColumn]="maquina.brand" pEditableColumnField="code">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="maquina.brand" />
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ maquina.brand }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td [pEditableColumn]="maquina.model" pEditableColumnField="code">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="maquina.model" />
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ maquina.model }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td [pEditableColumn]="maquina.startDate" pEditableColumnField="code">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-calendar [touchUI]="true" [readonlyInput]="true" [(ngModel)]="maquina.startDate"></p-calendar>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ maquina.startDate }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td [pEditableColumn]="maquina.endDate" pEditableColumnField="code">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-calendar [touchUI]="true" [readonlyInput]="true" [(ngModel)]="maquina.endDate"></p-calendar>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ maquina.endDate }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <input type="checkbox" [(ngModel)]="maquina.derigistered" />    
            </td>
            <td [pEditableColumn]="maquina.heads" pEditableColumnField="code">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="number" [(ngModel)]="maquina.heads" />
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ maquina.heads }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td [pEditableColumn]="maquina.status" pEditableColumnField="code">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="maquina.status" />
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ maquina.status }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td [pEditableColumn]="maquina.powerKv" pEditableColumnField="code">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="number" [(ngModel)]="maquina.powerKv" step="0.1"/>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ maquina.powerKv }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <input type="checkbox" [(ngModel)]="maquina.emailAlerts" />
            </td>
            <td [pEditableColumn]="maquina.powerKv" pEditableColumnField="code">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                            <p-multiSelect (onChange)="sensorsMachineId(maquina)" [options]="maquina.sensores" [(ngModel)]="maquina.sensors" optionLabel="name" [filter]="true" filterBy="name" display="chip" [showClear]="true" placeholder="Selecciona uno o varios sensores" appendTo="body">
                            </p-multiSelect>                          
                    </ng-template>
                    <ng-template pTemplate="output">
                        <div *ngIf="maquina.sensors && maquina.sensors.length > 0">
                              <span *ngFor="let sensor of maquina.sensors">{{ sensor.name+" " }}</span>
                          </div>
                          <div *ngIf="!maquina.sensors || maquina.sensors.length === 0">
                            None
                          </div>
                    </ng-template>
                </p-cellEditor>
            </td>
            <td class="controlButtons"> 
                <p-button class="updateButton" severity="success" (onClick)="updateMachine(maquina)"><i class="fa-regular fa-floppy-disk"></i></p-button>
                <p-button class="updateButton" severity="danger" (onClick)="showDeleteDialog(maquina)"><i class="fa-solid fa-trash"></i></p-button>
            </td>
            
        </tr>
    </ng-template>
</p-table>

<p-dialog header="¿Quieres eliminar el elemento?" [(visible)]="borrarVisible" [style]="{width: '50vw'}">
    <div id="deleteDialogButtons" >
        <p-button label="Si" (onClick)="deleteMachine()" (click)="borrarVisible = false"></p-button>
        <p-button label="No" (click)="borrarVisible = false"></p-button>
    </div>
</p-dialog>

<p-toast></p-toast>