#deleteDialogButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.controlButtons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.custom-p-table{
    height: 500px !important;
}

li{
    list-style: none;
}

