p-table {
    min-width: 50rem;
}

.updateButton{
    background-color: mediumspringgreen;
}

#deleteDialogButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.controlButtons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}